
        html, body {
            margin:0; 
            height: 100% ;
            background-color: white;
         }
 
 
         .content {
             overflow: auto;
             width: 930px;
             margin: 0 auto;
             background-color: white;
             border: 5px solid #ffffff;
             margin-top: 50px;
             font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
             padding: 0px 15px;
         }
 
         img {
             float: left;
             width: 250px;
             height: 250px;
             margin-right: 20px;
             margin-bottom: 20px;
             padding-top: 20px;
         }
 
         #foot {
             position: relative;
             height: 20px;
             text-align:  center;
             background: rgb(65, 64, 64);
             color: white;
             clear: both;
             padding-top: 30px;
             padding-bottom: 0px;
             border-top: 8px solid #4aaaa5;
         }
 
     
         .container {
             min-height: 92%;
             background-color: lightgrey;
         }
 
         .top {
             background: white;
          }
 
          li {
              display: inline;
              margin-left: 10px;
          }
 
           ul {
             display: flex;
             justify-content: flex-end;
             margin-right: 275px;
         }
 
         .head {
             vertical-align: middle;   
             display: flex;
             justify-content: left;
         }
 
         header {
             background: teal;
             width: 250px;
             height: 50px;
             text-align: center;
             position: absolute;
             top: 0%;
             left: 18%;
             font-family: 'Georgia', Times, Times New Roman, serif;
             font-size: 20px;
             font-weight: bolder;
         }
 
         h2 {
             color: #4aaaa5;
             font-family: 'Georgia', Times, Times New Roman, serif;
 
         }

         .content textarea {
             height: 200px;
             padding: 10px 0;
             margin-bottom: 20px;
         }

         .info input, .content textarea {
             width: 927px;
         }

         .bttn {
             height: 30px;
             width: 85px;
             background: #4aaaa5;
             box-shadow: 0ch;
             color: white;
             border: none;
         }

   
          
          .box { 
              margin: 20px; 
                }

            .row {
                display: flex;
                flex-direction: row;
                margin: auto;
            }

            .grid1 {
                display: flex;
                flex-direction: column;
            }

            .grid2 {
                display: flex;
                flex-direction: column;
            }
          
          .box1 { 
              width: 200px;
              height: 200px;
              background-image: url(../img/opm.jpg);
             }

          .box2 { 
            width: 200px;
            height: 200px;
            background-image: url(../img/mhw.jpg); 
            }

          .box3 {
            width: 200px;
            height: 200px; 
            background-image: url(../img/trivia.jpg); 
            }

          .box4 { 
            width: 200px;
            height: 200px;
            background-image: url(../img/info.jpg); 
            }

          .box5 { 
            width: 200px;
            height: 200px;
            background-image: url(../img/rock.jpg); 
            top: 10%;
            
            }


    